<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.5/phpunit.xsd"
         backupGlobals="true"
         bootstrap=".Build/vendor/typo3/testing-framework/Resources/Core/Build/UnitTestsBootstrap.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
>
    <php>
        <ini name="error_reporting" value="-1" />
        <env name="APP_ENV" value="test" />
        <env name="TYPO3_CONTEXT" value="test" />
        <env name="APP_SECRET" value="TESTING_SECRET" />
    </php>

    <testsuites>
        <testsuite name="Unit Tests">
            <directory>Tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>Tests/Integration</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">Classes</directory>
            <exclude>
                <directory>Classes/Interfaces</directory>
                <directory>Classes/Misc/Native</directory>
                <directory>Classes/PHPUnit</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover"
             target="Tests/phpunit_result/tests-clover.xml"/>
        <log type="junit"
             target="Tests/phpunit_result/tests-junit.xml"/>
        <log type="coverage-html"
             target="Tests/phpunit_result/codeCoverage"
             lowUpperBound="50" highLowerBound="80"/>
    </logging>
</phpunit>
